<ion-header>

  <ion-toolbar>
    <ion-buttons start (click) = "showConfirm()">
      <button ion-button icon-only>
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Hola {{dispName}}!
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>

  <ion-searchbar (ionInput)="search($event)">
  </ion-searchbar>

  <button button ion-button full clear (click)="advanceSearch()">
    Busqueda avanzada
  </button>

  <ion-list>
    <ion-card *ngFor="let car of cars">
      <img src="{{car.image}}" (click)="detailView(car)"/>
      <ion-card-content (click)="detailView(car)">

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>
                {{car.brand}} {{car.model}} - {{car.year}}
              </ion-card-title>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Kilometraje: {{car.odom}} Km
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Interior: {{car.intType}} color {{car.intColor}}.
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              Origen: {{car.origin}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-auto>
              Precio:
                <div class="{{colorCheck(car.price)}}">
                  Q {{car.price}} -- <ion-icon name="{{priceCheck(car.price)}}"></ion-icon>
                </div>
            </ion-col>
            <ion-col>
              <button button ion-button full>
                Detalles
              </button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="cars.length == 0" class="no_results">
      No hay resultados para la busqueda
      <div>
        &#9785;
      </div>
    </ion-card>
  </ion-list>
</ion-content>
