page-search-results {

}

.no_results {
  font-size: 20px;
  color: #a3a3a3;
  align-content: center;
  text-align: center;
  word-wrap: break-word;
  div {
    font-size: 100px;
    color: #ffb548;
    align-content: center;
    text-align: center;
  }
}
